/**
 * colors
 */
:root {
  --page-bg-color: #000e4a;
  --page-text-color: white;
  --page-tertiary-text-color: #3B82F6; /* deprecated */
  --page-highlight-color: #3B82F6;

  --header-bg-color: transparent;

  --section-bg-color: #00115B66;

  --tile-title-color: #000e4a;

  --article-bg-color: white;
  --article-text-color: black;
  --article-info-color: #ffffff99;
  --article-border-color: #E4E4E7;
  --article-block-bg-color: #FAFAFA;
}


/**
 * background image
 */
body > div::after {
  @apply absolute top-0 left-0 w-full h-full opacity-25;
  content: " ";
  background-image: url('https://fishrulesapp.com/images/contour-blue.png');
  background-repeat: no-repeat;
  z-index: -1;
}


/**
 * global
 */
h1, h2, h3, h4 {
  @apply !font-medium;
}


/**
 * toolbar / header
 */
.toolbar {
  @apply pt-0;
}

.toolbar .content-wrapper {
  @apply flex-col md:flex-row;
}

.toolbar .left {
  @apply mb-8 md:mb-0 flex items-center;
}

.toolbar .search {
  @apply opacity-50 focus-within:opacity-100 focus-within:bg-[#000e4a];
}

header .title {
  @apply mt-10 text-4xl;
}


/**
 * content
 */
.tile .empty {
  @apply bg-gradient-to-r from-blue-900 to-blue-500;
}

.page > main {
  @apply pt-14;
  background-color: var(--section-bg-color);
}

.page > main > .content-wrapper {
  @apply px-0 sm:px-8;
}

.page > main > .content-wrapper aside {
  @apply mx-4 sm:mx-0;
}

.page > main > .content-wrapper > section {
  @apply pt-0 border-none;
}

.page article {
	@apply py-4 px-4 sm:p-8 sm:rounded sm:shadow bg-white w-full;
}
