<div class="toolbar">

	<div class="content-wrapper">

		<div class="left">

			<ul class="flex items-center flex-wrap justify-center sm:justify-start">
				<li class="block my-2">
					<a href="https://apps.apple.com/us/app/fish-rules-2013/id597875361?ls=1">
						<img
							class="w-full h-12 object-contain"
							alt="Get it on the App Store"
							src="https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg"
						/>
					</a>
				</li>
				<li class="block my-2">
					<a href="https://play.google.com/store/apps/details?id=com.fishrulesapp.fishrules2013&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
						<img
							class="h-16 object-contain w-40"
							alt="Get it on Google Play"
							src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
						/>
					</a>
				</li>
				<li class="block flex-shrink-0 my-2">
					<a
						href="https://app.fishrulesapp.com"
						class="text-blue-200 text-sm bg-blue-900 border border-solid border-blue-700 hover:bg-blue-700 hover:text-white font-bold uppercase px-4 py-3 rounded-lg outline-none focus:outline-none whitespace-nowrap"
						style="transition:all .15s ease">Use the Web App
					</a>
				</li>
			</ul>
		</div>

		<div class="right">
			{{include src="search.hbs"}}
		</div>

	</div>

</div>