<header>

	<div class="content-wrapper">

		<a href="https://fishrulesapp.com/">
			<img class="w-64 cursor-pointer" src="https://fishrulesapp.com/images/logo-lg.png" alt="Fish Rules">
		</a>

		<a href="/" class="title">
			<h1>{{site.theme.title}}</h1>
		</a>

		{{include src="subscribe.hbs"}}

	</div>

</header>